/*BACKGROUND DEL INDEX*/
/*.fondo {
    background-color: rgba(255, 255, 255, 0.678);
}*/

/*CARDS*/
.cardProducto {
    width: 18rem;
    margin: 0 auto;
    margin-top: 20px;
    background-color: hsla(0, 0%, 96%, 0.712);
    border-radius: 2px;
}

.cardBody {
    font-family: 'Kanit', sans-serif;
    background-color: hsla(0, 0%, 96%, 0.336);
    margin-bottom: 0px;
    text-align: center;
}

.cardBodyDark {
    background-color: hsl(0, 0, 33%);
    margin-bottom: 3px;
    text-align: center;}


    
img {
    padding-top: 20px;
    border-radius: 10px;
    transition: all 0.6s;
}

img:hover {
    transform: scale(1.03);
}

.verProducto {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    border-radius: 3px;
}

.verProductoDark {background-color: black;
    color: white;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    border-radius: 3px;}

/*ITEM DETAIL*/
.detalle {
    font-family: 'Kanit', sans-serif;
    border-radius: 3px;
}

.itemDetail {background-color: rgba(255, 255, 255, 0.842);
    
    width: 100%;
    margin-top: 20px;
    align-items: center;
    ;
    
}

.itemDetailBodyDark { 
    width: 100%;
    margin-top: 20px;
    align-items: center;
    background-color: gainsboro;
    color:rgb(12, 12, 12);
}

.darkMode {
    background-color: rgba(0, 0, 0, 0.89);
    color: rgb(0, 0, 0);
}

/*BOTONES DEL ITEM DETAIL*/
.finalizarcompra {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 3px;
}

.botonMas {margin-right: 10px;
    border-radius: 3px;
}

.botonMenos {margin-left: 10px;
    border-radius: 3px;
}

/*FORMULARIO*/
.backgroundcontacto {width: 100%;
    background-image: url(../img/contactoback.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.formulario {
    height: 100%;
}


.contactoTitulo {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 60px;
    color: white;
    padding-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.datosContacto {
    font-family: 'Kanit', sans-serif;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}

.botonEnviar {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    border-radius: 3px;
    margin-bottom: 100px;
    color: white;
}

/*TOASTIFY*/
.toasty {margin-top: 100px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    width: 24vw;}